images/**
access.log
error.log
configuration.php
log/**
logs/**
administrator/components/com_akeeba/backup/*.jpe
media/k2/attachments/*.zip
media/k2/attachments/*.pdf
media/k2/attachments/*.djvu
codeception.yml
tests/*.yml
tests/_output/**
tests/_data/dump.sql
tests/_bootstrap.php
tests/_data/import-dump.cmd
generatedJUnitFiles/**
temporary-junit-reports/**
cache/**
kickstart.php
administrator/components/com_akeeba/backup/**
en-GB.kickstart.ini
ru-RU.kickstart.ini
